html, body {
	background-color: rgb(30, 30, 30);
	color: rgb(200, 200, 200);
	font-family: Lucida, sans-serif;
	font-size: 90%;
}

a {
	color: rgb(204, 102, 0);
	text-decoration: none;
}

#footer {
	color: rgb(70, 70, 70);
}

#sidebar {
	float: left;
	width: 270px;
	background-color: rgb(51, 51, 51);
}

#sidebar h3 {
	margin: 2px 0px;
	padding: 0px;
	font-size: 110%;
	font-weight: normal;
	background-color: rgb(70, 70, 70);
}

#sidebar h3 a {
	color: rgb(220, 220, 220);
	padding: 2px 5px;
	display: block;
	cursor: pointer;
}

#sidebar h3 a:hover {
	color: rgb(240, 240, 240);
	background-color: rgb(90, 90, 90);
}

#sidebar div a {
	display: block;
	padding: 2px 5px;
}

#sidebar p {
	padding: 2px 5px;
	text-align: center;
}

#sidebar div p a {
	display: inline;
	padding: 0px;
}

#sidebar div a:hover {
	background-color: rgb(60, 60, 60);
}

#pjs {
	margin-left: 280px;
}

canvas {
	cursor: pointer;
}

#streamimg {
	width: 100%;
}

#properties table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	font-family: Lucida, sans-serif;
	font-size: 90%;
}

#properties table td {
	font-size: 100%;
	padding: 2px 4px;
	height: 2.5em;
	vertical-align: middle;
}

#properties table td.label {
	text-align: right;
	width: 50%;
}

#properties table td .ui-widget {
	width: 100% !important;
}

#properties input {
	padding: 2px 4px;
}

/* customize jquery
 */
.ui-slider-handle,
.ui-button {
	border: none !important;
	font-weight: normal;
}

.ui-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
