html, body {
	background-color: rgb(30, 30, 30);
	color: rgb(200, 200, 200);
	font-family: Lucida, sans-serif;
	font-size: 90%;
}

a {
	color: rgb(204, 102, 0);
	text-decoration: none;
}

#footer {
	color: rgb(70, 70, 70);
}

#sidebar {
	float: left;
	width: 270px;
	background-color: rgb(51, 51, 51);
}

#sidebar h3 {
	margin: 2px 0px;
	padding: 0px;
	font-size: 110%;
	font-weight: normal;
	background-color: rgb(70, 70, 70);
}

#sidebar h3 a {
	color: rgb(220, 220, 220);
	padding: 2px 5px;
	display: block;
	cursor: pointer;
}

#sidebar h3 a:hover {
	color: rgb(240, 240, 240);
	background-color: rgb(90, 90, 90);
}

#sidebar div a {
	display: block;
	padding: 2px 5px;
}

#sidebar p {
	padding: 2px 5px;
	text-align: center;
}

#sidebar div p a {
	display: inline;
	padding: 0px;
}

#sidebar div a:hover {
	background-color: rgb(60, 60, 60);
}

#pjs {
	margin-left: 280px;
}

canvas {
	cursor: pointer;
}

#streamimg {
	width: 100%;
}

#properties p {
	float: left;
	width: 130px;
	padding: 2px 4px;
	margin: 1px 0px;
	text-align: right;
	overflow: hidden;
}

#properties select,
#properties input {
	float: left;
	width: 130px;
	padding: 2px 4px;
	margin: 1px 0px;
	background-color: rgb(180, 180, 180);
	border: none;
}

#properties input:hover {
	background-color: rgb(220, 220, 220);
}

/* slider 
 */
.ui-slider {
	float: left;
	width: 110px;
	height: 11px;
	padding: 0px !important;
	margin: 4px 5px 6px 5px;
	background-color: rgb(180, 180, 180);
}

.ui-slider-handle {
	width: 20px;
	height: 15px;
	padding: 0px !important;
	position: relative;
	margin: -2px -5px;
	background-color: rgb(220, 220, 220);
}

.ui-state-hover {
	background-color: rgb(204, 102, 0) !important;
}
