html, body {
	background-color: rgb(40, 40, 40);
	color: rgb(200, 200, 200);
	font-size: 90%;
}

a {
	color: rgb(204, 102, 0);
	text-decoration: none;
}

#sidebar {
	float: left;
	width: 250px;
	background-color: rgb(51, 51, 51);
}

#sidebar h3 {
	margin: 0px;
	padding: 0px;
	font-size: 110%;
	font-weight: normal;
	background-color: rgb(70, 70, 70);
}

#sidebar h3 a {
	color: rgb(220, 220, 220);
	padding: 2px 5px;
	display: block;
}

#sidebar div a {
	display: block;
	padding: 2px 5px;
}

#sidebar div a:hover {
	background-color: rgb(60, 60, 60);
}

#pjs {
	margin-left: 260px;
}
